<tr class= "<%= cycle('list_line_odd', 'list_line_even') %>">
  <td><%= timeslot.start_time.strftime("%H:%M") %></td>
  <td><%= timeslot.end_time.strftime("%H:%M") %></td>
  <td><%= timeslot.day %></td>
  <td><%= timeslot.room.name %></td>
  <td><%= hour_minute(timeslot) %></td>
</tr>