<h1>Listing Timeslots</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Day</th>
      <th>Room</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @timeslots.each do |timeslot| %>
      <tr class= "<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= timeslot.start_time.strftime("%H:%M") %></td>
        <td><%= timeslot.end_time.strftime("%H:%M") %></td>
        <td><%= timeslot.day %></td>
        <td><%= timeslot.room.name %></td>
        <td class="list_actions">
        <%= link_to 'Show', timeslot %> <br/>
        <%= link_to 'Edit', edit_timeslot_path(timeslot) %> <br/>
        <%= link_to 'Destroy', timeslot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timeslot', new_timeslot_path %>
