<p>
  <strong>Start time:</strong>
  <%= @timeslot.start_time.strftime("%H:%M") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @timeslot.end_time.strftime("%H:%M") %>
</p>

<p>
  <strong>Day:</strong>
  <%= @timeslot.day %>
</p>

<p>
  <strong>Room:</strong>
  <%= @timeslot.room.name %>
</p>

<%= link_to 'Edit', edit_timeslot_path(@timeslot) %> |
<%= link_to 'Back', timeslots_path %>
